/* shared style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* universal style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* main style */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

header nav {
    width: 71.25%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 45px;
    font-weight:800px;
    width: 121px;
    height: 61px;
}

.logo-color{
    color: #FD6E0A;
}


header nav ul {
    display: flex;
    gap: 51px;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding:18.28px 35px 19.3px 36px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}